In [1]:
import pandas as pd
import numpy as np

In [2]:
developer_df = pd.read_csv("./input/dev_addr.csv")
developer_df

,DEVELOPER_ADDRESS,DEVELOPER_ADDRESS_PRED
0,23 Stoneleigh Avenue\nBN1 8NP,"23 Stoneleigh Avenue, Brighton BN1 8NP, UK"
1,"2500 Santa Clara Ave, Alameda, CA 94501","2500 Santa Clara Ave, Alameda, CA 94501, USA"
2,"Reading, Berkshire, RG6 3BT, United Kingdom","Sellafield Way, Lower Earley, Earley, Reading ..."
3,"2549-B Eastbluff Drive 201\nNewport Beach, CA...","2549 Eastbluff Drive, Newport Beach, CA 92660,..."
4,"POBOX 504905 DUBAI, UAE",Dubai - UAE
...,...,...
8586,Viker Games Limited\n200 Union Street\nLondon\...,"viker ltd, 200 Union Street, London SE1 0LX, UK"
8587,"New York City, NY","New York City, NY, USA"
8588,"Украина, г.Сумы","Сумы, Sumy Oblast, Ukraine"
8589,Ankara/Turkey,"Ankara, Turkey"
8590,"Camp de l'Oliver 14, 17401 Arbúcies, Girona, E...","Carrer Camp de l'Oliver, 14, 17401 Arbúcies, G..."

In [3]:
developer_df.dropna(inplace = True)
developer_df = developer_df[developer_df["DEVELOPER_ADDRESS_PRED"] != "undefined"]
developer_df["COUNTRY"] = ""
developer_df.shape

<ipython-input-3-bcf0a5337ea0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  developer_df["COUNTRY"] = ""

(7320, 3)

In [4]:
for i in range(len(developer_df)):
    address = developer_df["DEVELOPER_ADDRESS_PRED"].iloc[i]
    front = address.split(",")[0]
    front = front.upper()
    countryList = ['JAPAN', 'KOREA', 'SOUTH KOREA', 'TAIWAN', 'HONG KONG', 'CHINA', 'CN', 'JP', 'KR', 'TW']
    if front in countryList:
        developer_df["COUNTRY"].iloc[i] = front
        
    else:
        last = address.split(", ")[-1]
        last = last.upper()
        if last.isdigit():
            last = address.split(", ")[-2]
            last = last.upper()
            
        last = ''.join([i for i in last if not i.isdigit()]) #remove digits from last substring (after comma)
        if "香港" in address:
            last = "HONG KONG"
        if "中国" in address:
            last = "CHINA"
        if "UK" in address:
            last = "UNITED KINGDOM"
        if "US" in address:
            last = "USA"
        developer_df["COUNTRY"].iloc[i] = last

C:\Users\Lenovo\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [5]:
#Clear emirates
for i in range(len(developer_df)):
    address = developer_df["DEVELOPER_ADDRESS_PRED"].iloc[i]
    last = address.split("- ")[-1]
    last = last.upper()
    if "EMIRATES" in last:
        developer_df["COUNTRY"].iloc[i] = "UNITED ARAB EMIRATES" 
    if "UAE" in last:
        developer_df["COUNTRY"].iloc[i] = "UNITED ARAB EMIRATES"

In [6]:
#Clear Hong Kong and Japan
for i in range(len(developer_df)):
    address = developer_df["DEVELOPER_ADDRESS_PRED"].iloc[i]
    address = address.upper()
    if "JAPAN" in address:
        developer_df["COUNTRY"].iloc[i] = "JAPAN" 
    if "HONG KONG" in address:
        developer_df["COUNTRY"].iloc[i] = "HONG KONG"

In [7]:
developer_df['COUNTRY'].unique()

array(['UNITED KINGDOM', 'USA', 'UNITED ARAB EMIRATES', 'TÜRKIYE',
       'VIETNAM', 'INDIA', 'AUSTRIA', 'RUSSIA', 'CHINA', 'CANADA',
       'LUXEMBOURG', 'FRANCE', 'TURKEY', 'UKRAINE', 'VIET NAM',
       'SWITZERLAND', 'POLAND', 'РОССИЯ', 'SRI LANKA', 'CZECH REPUBLIC',
       'FINLAND', 'POLSKA', 'GERMANY', 'ITALY', 'NORWAY', 'PAKISTAN',
       'NEW ZEALAND', 'ISRAEL', 'SLOVAKIA', 'DEUTSCHLAND', 'SOUTH KOREA',
       'JAPAN', 'INDONESIA', 'ESTONIA', 'AUSTRALIA', 'DENMARK',
       'BULGARIA', 'IRELAND', 'SPAIN', 'PORTUGAL', 'THE NETHERLANDS',
       'MALAYSIA', 'LATVIA', 'BELGIQUE', 'CYPRUS', 'UNITED STATES',
       'HONG KONG', 'HUNGARY', 'CZECHIA', 'UNITED STATES OF AMERICA',
       'TAIWAN', 'SINGAPORE', 'REPUBLIC OF KOREA', 'BELGIUM', 'THAILAND',
       'KOREA', 'LEBANON', 'MEXICO', 'SWEDEN', 'BELIZE',
       'BRITISH VIRGIN ISLANDS', 'CHILE', 'SEOUL', 'ESPAÑA', 'CROATIA',
       ' HUNGARY', 'EGYPT', 'RUSSIAN FEDERATION', 'TAMIL NADU ', 'GREECE',
       'SERBIA', 'SINGAPORE ', 'AL QATIF SAUDI ARABIA', 'LITHUANIA',
       'NETHERLANDS', 'BRASIL', 'SLOVENIA', 'KAZAKHSTAN', 'BELARUS',
       'TAIWAN ', 'PHILIPPINES', 'MOLDOVA', 'TANZANIA', 'PK', 'JORDAN',
       'U.S.', 'ICELAND', 'MALTA', 'IRAQ', 'SLOVENSKO', 'SEYCHELLES',
       'MAHARASHTRA ', 'BRAZIL', 'ROMANIA', 'GUJARAT', 'U.S.A.', 'ARIEL',
       'УКРАЇНА', 'ARGENTINA', 'TAMIL NADU', 'SVERIGE', 'ALGERIA',
       'BANGLADESH', 'VENEZUELA', 'MACAO', 'MAURITIUS', 'KIROVSKOYE',
       'COLOMBIA', 'GUERNSEY', 'NEDERLAND', 'SAINT KITTS AND NEVIS',
       'LATVIJA', 'DOMINICAN REPUBLIC', 'ALBANIA', 'URUGUAY', 'MOROCCO',
       'SOUTH AFRICA', 'PUERTO RICO', 'ARMENIA', 'ČESKÁ REPUBLIKA', '洛杉矶',
       'SHOHAM', 'SK V', 'NIGERIA', 'ITALIA', 'SAUDI ARABIA', 'ZAMBIA',
       'GHANA', 'ÖSTERREICH', 'SLOVENSKÁ REPUBLIKA', 'БЕЛАРУСЬ', 'JENIN',
       'MAHARASHTRA', 'JEDDAH SAUDI ARABIA', 'KINGDOM OF SAUDI ARABIA',
       'QATAR', 'ANDORRA', 'MYANMAR (BURMA)', 'COSTA RICA', 'TUNISIA',
       ' LUXEMBOURG', 'AT', 'REPÚBLICA FEDERATIVA DO BRASIL', 'IN',
       'ECUADOR', 'PERU', 'YEMEN', "MODI'IN-MACCABIM-RE'UT", 'UZBEKISTAN',
       'KUWAIT', 'NEPAL', 'RIYADH SAUDI ARABIA', 'MACEDONIA',
       'MONTENEGRO', 'JAMAICA', 'ISLE OF MAN', 'TITANIUM TRACK C/O',
       'PETAH TIKVA', 'CAMBODIA', 'РЕСПУБЛИКА БЕЛАРУСЬ', '台北市中山區長春路號號',
       'HERZLIYA', 'CAYMAN ISLANDS', 'REPUBLIC OF SEYCHELLES', 'MAROC',
       'HRVATSKA', 'REPUBLIC OF BELARUS', 'OMAN', 'SAHAM، OMAN',
       'KAZAKSTAN', 'SEVASTOPOL'], dtype=object)

FURTHER CLEANING (IVAN)

In [8]:
developer_df.reset_index(inplace=True)

In [9]:
# Cleaning USA
us_similars = ['UNITED STATES', 'UNITED STATES OF AMERICA', 'U.S.A.', '洛杉矶', 'U.S.']
# Cleaning India
india_similars = ['INDIA', 'TAMIL NADU', 'MAHARASHTRA', "GUJARAT", "MAHARASHTRA", "INDIA"]
# Cleaning turkey
turkey_similars = ["TÜRKIYE", 'TURKEY', ]
# Cleaning Ukraine
ukraine_similars = ['UKRAINE', 'SEVASTOPOL', "KIROVSKOYE", "УКРАЇНА"] 
#Cleaning Oman 
oman_similars = ["OMAN", 'SAHAM، OMAN', ]
#Cleaning croatia
croatia_similars = ["HRVATSKA", "CROATIA"]
#Cleaning morocco
morocco_similars = ["MAROC"]
#Cleaning isreal
isreal_similars = ["HERZLIYA", "PETAH TIKVA", "MODI'IN-MACCABIM-RE'UT", "JENIN", "SHOHAM", "ISRAEL"]
#Cleaning Taiwan
taiwan_similars = ["台北市中山區長春路號號", "TAIWAN"]
#Cleaning belarus
belarus_similars = ['РЕСПУБЛИКА БЕЛАРУСЬ', "REPUBLIC OF BELARUS", "БЕЛАРУСЬ", "BELARUS"]
#Cleaning UK
uk_similars = ["ISLE OF MAN", "GUERNSEY", "BRITISH VIRGIN ISLANDS", "UNITED KINGDOM", 'CAYMAN ISLANDS']
#Cleaning Saudi Arabia
sa_similars = ["RIYADH SAUDI ARABIA", "KINGDOM OF SAUDI ARABIA", 'JEDDAH SAUDI ARABIA', "SAUDI ARABIA", "AL QATIF SAUDI ARABIA"]
#Cleaning Brazil
bz_similars = ["REPÚBLICA FEDERATIVA DO BRASIL", "BRASIL"]
# Cleaning Myanmar
myanmar_similars = ['MYANMAR (BURMA)']
#Cleaning Slovakia
slovakia_similars = ["SLOVENSKÁ REPUBLIKA", "SLOVENSKO", "SLOVAKIA"]
#Cleaning_austria
austria_similars = ["ÖSTERREICH", "AUSTRIA"]
#Cleaning italy
italy_similars = ["ITALIA"]
#cleaning czech republic
czech_similars = ["ČESKÁ REPUBLIKA", "CZECHIA", "CZECH REPUBLIC"]
#Cleaning netherlands
netherlands_similars = ["NEDERLAND", "NETHERLANDS", "THE NETHERLANDS"]
#Cleaning sweden
sweden_similars = ["SVERIGE", "SWEDEN"]
#Cleaning seychelles
seychelles_similars = ["SEYCHELLES", "REPUBLIC OF SEYCHELLES"]
#Cleaning Pakistan
pakistan_similars = ["PK"]
#Cleaning South Korea 
sk_similars = ["KOREA", "REPUBLIC OF KOREA", "SOUTH KOREA", "SEOUL"]
#Cleaning belgium
belgium_similars = ["BELGIQUE", "BELGIUM"]
#Cleaning germany
germany_similars = ["DEUTSCHLAND", "GERMANY"]
#Cleaning poland
poland_similars = ["POLSKA", 'POLAND']
#Cleaning russia
russia_similars = ["РОССИЯ", "RUSSIA", 'RUSSIAN FEDERATION']
#Cleaning vietnam
vietnam_similars=["VIET NAM", "VIETNAM"]
#Cleaning spain
spain_similars = ["ESPAÑA", "SPAIN"]
#Cleaning Latvia
latvia_similars = ["LATVIJA", "LATVIA"]
#Cleaning kazakhstan
kazakhstan_similars = ["KAZAKHSTAN", "KAZAKSTAN"]
#Cleaning false country
false_country = ["TITANIUM TRACK C/O", 'IN', 'AT', "SK V", "ARIEL"]

In [10]:
for i in range(developer_df.shape[0]):
    if (developer_df.loc[i, "COUNTRY"] in us_similars):
        developer_df.loc[i, "COUNTRY"] = "USA"
    elif (developer_df.loc[i, "COUNTRY"] in india_similars):
        developer_df.loc[i, "COUNTRY"] = "INDIA"
    elif (developer_df.loc[i, "COUNTRY"] in turkey_similars):
        developer_df.loc[i, "COUNTRY"] = "TURKEY"
    elif (developer_df.loc[i, "COUNTRY"] in ukraine_similars):
        developer_df.loc[i, "COUNTRY"] = "UKRAINE"
    elif (developer_df.loc[i, "COUNTRY"] in oman_similars):
        developer_df.loc[i, "COUNTRY"] = "OMAN"
    elif (developer_df.loc[i, "COUNTRY"] in croatia_similars):
        developer_df.loc[i, "COUNTRY"] = "CROATIA"
    elif (developer_df.loc[i, "COUNTRY"] in morocco_similars):
        developer_df.loc[i, "COUNTRY"] = "MOROCCO"
    elif (developer_df.loc[i, "COUNTRY"] in isreal_similars):
        developer_df.loc[i, "COUNTRY"] = "ISREAL"
    elif (developer_df.loc[i, "COUNTRY"] in taiwan_similars):
        developer_df.loc[i, "COUNTRY"] = "TAIWAN"
    elif (developer_df.loc[i, "COUNTRY"] in belarus_similars):
        developer_df.loc[i, "COUNTRY"] = "BELARUS"
    elif (developer_df.loc[i, "COUNTRY"] in uk_similars):
        developer_df.loc[i, "COUNTRY"] = "UNITED KINGDOM"
    elif (developer_df.loc[i, "COUNTRY"] in sa_similars):
        developer_df.loc[i, "COUNTRY"] = "SAUDI ARABIA"
    elif (developer_df.loc[i, "COUNTRY"] in bz_similars):
        developer_df.loc[i, "COUNTRY"] = "BRAZIL"
    elif (developer_df.loc[i, "COUNTRY"] in myanmar_similars):
        developer_df.loc[i, "COUNTRY"] = "MYANMAR"
    elif (developer_df.loc[i, "COUNTRY"] in slovakia_similars):
        developer_df.loc[i, "COUNTRY"] = "SLOVAKIA"
    elif (developer_df.loc[i, "COUNTRY"] in austria_similars):
        developer_df.loc[i, "COUNTRY"] = "AUSTRIA"
    elif (developer_df.loc[i, "COUNTRY"] in italy_similars):
        developer_df.loc[i, "COUNTRY"] = "ITALY"
    elif (developer_df.loc[i, "COUNTRY"] in czech_similars):
        developer_df.loc[i, "COUNTRY"] = "CZECH REPUBLIC"
    elif (developer_df.loc[i, "COUNTRY"] in netherlands_similars):
        developer_df.loc[i, "COUNTRY"] = "NETHERLANDS"
    elif (developer_df.loc[i, "COUNTRY"] in sweden_similars):
        developer_df.loc[i, "COUNTRY"] = "SWEDEN"
    elif (developer_df.loc[i, "COUNTRY"] in seychelles_similars):
        developer_df.loc[i, "COUNTRY"] = "SEYCHELLES"
    elif (developer_df.loc[i, "COUNTRY"] in pakistan_similars):
        developer_df.loc[i, "COUNTRY"] = "PAKISTAN"
    elif (developer_df.loc[i, "COUNTRY"] in sk_similars):
        developer_df.loc[i, "COUNTRY"] = "SOUTH KOREA"
    elif (developer_df.loc[i, "COUNTRY"] in seychelles_similars):
        developer_df.loc[i, "COUNTRY"] = "SEYCHELLES"
    elif (developer_df.loc[i, "COUNTRY"] in belgium_similars):
        developer_df.loc[i, "COUNTRY"] = "BELGIUM"
    elif (developer_df.loc[i, "COUNTRY"] in germany_similars):
        developer_df.loc[i, "COUNTRY"] = "GERMANY"
    elif (developer_df.loc[i, "COUNTRY"] in poland_similars):
        developer_df.loc[i, "COUNTRY"] = "POLAND"
    elif (developer_df.loc[i, "COUNTRY"] in russia_similars):
        developer_df.loc[i, "COUNTRY"] = "RUSSIA"
    elif (developer_df.loc[i, "COUNTRY"] in vietnam_similars):
        developer_df.loc[i, "COUNTRY"] = "VIETNAM"
    elif (developer_df.loc[i, "COUNTRY"] in spain_similars):
        developer_df.loc[i, "COUNTRY"] = "SPAIN"
    elif (developer_df.loc[i, "COUNTRY"] in latvia_similars):
        developer_df.loc[i, "COUNTRY"] = "LATVIA"
    elif (developer_df.loc[i, "COUNTRY"] in kazakhstan_similars):
        developer_df.loc[i, "COUNTRY"] = "KAZAKHSTAN"
    elif (developer_df.loc[i, "COUNTRY"] in false_country):
        developer_df.loc[i, "COUNTRY"] = "NONE"
    else:
        developer_df.loc[i, "COUNTRY"] = developer_df.loc[i, "COUNTRY"].strip()

C:\Users\Lenovo\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [11]:
country_list = developer_df["COUNTRY"].unique()
print(sorted(country_list))

['ALBANIA', 'ALGERIA', 'ANDORRA', 'ARGENTINA', 'ARMENIA', 'AUSTRALIA', 'AUSTRIA', 'BANGLADESH', 'BELARUS', 'BELGIUM', 'BELIZE', 'BRAZIL', 'BULGARIA', 'CAMBODIA', 'CANADA', 'CHILE', 'CHINA', 'COLOMBIA', 'COSTA RICA', 'CROATIA', 'CYPRUS', 'CZECH REPUBLIC', 'DENMARK', 'DOMINICAN REPUBLIC', 'ECUADOR', 'EGYPT', 'ESTONIA', 'FINLAND', 'FRANCE', 'GERMANY', 'GHANA', 'GREECE', 'HONG KONG', 'HUNGARY', 'ICELAND', 'INDIA', 'INDONESIA', 'IRAQ', 'IRELAND', 'ISREAL', 'ITALY', 'JAMAICA', 'JAPAN', 'JORDAN', 'KAZAKHSTAN', 'KUWAIT', 'LATVIA', 'LEBANON', 'LITHUANIA', 'LUXEMBOURG', 'MACAO', 'MACEDONIA', 'MAHARASHTRA', 'MALAYSIA', 'MALTA', 'MAURITIUS', 'MEXICO', 'MOLDOVA', 'MONTENEGRO', 'MOROCCO', 'MYANMAR', 'NEPAL', 'NETHERLANDS', 'NEW ZEALAND', 'NIGERIA', 'NONE', 'NORWAY', 'OMAN', 'PAKISTAN', 'PERU', 'PHILIPPINES', 'POLAND', 'PORTUGAL', 'PUERTO RICO', 'QATAR', 'ROMANIA', 'RUSSIA', 'SAINT KITTS AND NEVIS', 'SAUDI ARABIA', 'SERBIA', 'SEYCHELLES', 'SINGAPORE', 'SLOVAKIA', 'SLOVENIA', 'SOUTH AFRICA', 'SOUTH KOREA', 'SPAIN', 'SRI LANKA', 'SWEDEN', 'SWITZERLAND', 'TAIWAN', 'TAMIL NADU', 'TANZANIA', 'THAILAND', 'TUNISIA', 'TURKEY', 'UKRAINE', 'UNITED ARAB EMIRATES', 'UNITED KINGDOM', 'URUGUAY', 'USA', 'UZBEKISTAN', 'VENEZUELA', 'VIETNAM', 'YEMEN', 'ZAMBIA']

In [12]:
#Final touches
developer_df = developer_df.drop(["index", "DEVELOPER_ADDRESS_PRED"], axis=1)
developer_df = developer_df[developer_df["COUNTRY"] != "NONE"]
developer_df["COUNTRY"] = developer_df["COUNTRY"].str.title()
developer_df

                                      DEVELOPER_ADDRESS               COUNTRY
0                         23 Stoneleigh Avenue\nBN1 8NP        United Kingdom
1               2500 Santa Clara Ave, Alameda, CA 94501                   Usa
2           Reading, Berkshire, RG6 3BT, United Kingdom        United Kingdom
3     2549-B Eastbluff Drive  201\nNewport Beach, CA...                   Usa
4                               POBOX 504905 DUBAI, UAE  United Arab Emirates
...                                                 ...                   ...
7315  Viker Games Limited\n200 Union Street\nLondon\...        United Kingdom
7316                                  New York City, NY                   Usa
7317                                    Украина, г.Сумы               Ukraine
7318                                      Ankara/Turkey                Turkey
7319  Camp de l'Oliver 14, 17401 Arbúcies, Girona, E...                 Spain

[7315 rows x 2 columns]

In [13]:
#export the cleaned data into a csv file
file_path = "./output/developer_country.csv"
developer_df.to_csv(path_or_buf=file_path, index=False)