In [1]:
import pandas as pd
import numpy as np

In [2]:
developer_df = pd.read_csv("./datasets/dev_addr.csv")
developer_df

,DEVELOPER_ADDRESS,DEVELOPER_ADDRESS_PRED
0,23 Stoneleigh Avenue\nBN1 8NP,"23 Stoneleigh Avenue, Brighton BN1 8NP, UK"
1,"ul. Łucka 2/4/6, lok. U 4,\n00-845 Warsaw\nPoland","Łucka, Warsaw, Poland"
2,"Perfect365, Inc.\n101 Jefferson Drive\nMenlo P...","101 Jefferson Drive, Menlo Park, CA 94025, USA"
3,"4103, Limassol Cyprus","Limassol Avenue 4103, Strovolos, Cyprus"
4,"Gartengasse 8/8\n1050, Vienna\nAustria","Gartengasse 8/8, 1050 Vienna, Austria"
...,...,...
8610,"501 W. Williams St. 480\nApex, NC 27502","501 W Williams St, Apex, NC 27502, USA"
8611,"4103\nImus City,\nCavite, PH","Philippine Veterans Bank - Imus, Emilio Aguina..."
8612,Calle de Cristóbal Bordiú 10. 1D.\n28003. Madr...,"Calle de Cristóbal Bordiú, 10, 28003 Madrid, S..."
8613,"9 rue Combe au Roucheret, 25770 Serre-les-Sapins","9 Rue Combe au Roucheret, 25770 Serre-les-Sapi..."
8614,https://mojogame.github.io/,undefined

In [3]:
developer_df.dropna(inplace = True)
developer_df = developer_df[developer_df["DEVELOPER_ADDRESS_PRED"] != "undefined"]
developer_df["COUNTRY"] = ""
developer_df.shape

<ipython-input-3-bcf0a5337ea0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  developer_df["COUNTRY"] = ""

(7347, 3)

In [4]:
for i in range(len(developer_df)):
    address = developer_df["DEVELOPER_ADDRESS_PRED"].iloc[i]
    front = address.split(",")[0]
    front = front.upper()
    countryList = ['JAPAN', 'KOREA', 'SOUTH KOREA', 'TAIWAN', 'HONG KONG', 'CHINA', 'CN', 'JP', 'KR', 'TW']
    if front in countryList:
        developer_df["COUNTRY"].iloc[i] = front
        
    else:
        last = address.split(", ")[-1]
        last = last.upper()
        if last.isdigit():
            last = address.split(", ")[-2]
            last = last.upper()
            
        last = ''.join([i for i in last if not i.isdigit()]) #remove digits from last substring (after comma)
        if "香港" in address:
            last = "HONG KONG"
        if "中国" in address:
            last = "CHINA"
        if "UK" in address:
            last = "UNITED KINGDOM"
        if "US" in address:
            last = "USA"
        developer_df["COUNTRY"].iloc[i] = last

C:\Users\Lenovo\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [5]:
#Clear emirates
for i in range(len(developer_df)):
    address = developer_df["DEVELOPER_ADDRESS_PRED"].iloc[i]
    last = address.split("- ")[-1]
    last = last.upper()
    if "EMIRATES" in last:
        developer_df["COUNTRY"].iloc[i] = "UNITED ARAB EMIRATES" 
    if "UAE" in last:
        developer_df["COUNTRY"].iloc[i] = "UNITED ARAB EMIRATES"

In [6]:
#Clear Hong Kong and Japan
for i in range(len(developer_df)):
    address = developer_df["DEVELOPER_ADDRESS_PRED"].iloc[i]
    address = address.upper()
    if "JAPAN" in address:
        developer_df["COUNTRY"].iloc[i] = "JAPAN" 
    if "HONG KONG" in address:
        developer_df["COUNTRY"].iloc[i] = "HONG KONG"

In [7]:
developer_df['COUNTRY'].unique()

array(['UNITED KINGDOM', 'POLAND', 'USA', 'CYPRUS', 'AUSTRIA', 'VIETNAM',
       'ISRAEL', 'HONG KONG', 'HUNGARY', 'UNITED STATES', 'INDIA',
       'CZECHIA', 'UNITED STATES OF AMERICA', 'AUSTRALIA', 'LITHUANIA',
       'VIET NAM', 'RUSSIA', 'SPAIN', 'BRASIL', 'SWEDEN', 'LUXEMBOURG',
       'CANADA', 'SOUTH KOREA', 'SINGAPORE', 'UNITED ARAB EMIRATES',
       'GERMANY', 'BELIZE', 'CHILE', 'PORTUGAL', 'UKRAINE', 'SEOUL',
       'FRANCE', 'DENMARK', 'NETHERLANDS', 'BRAZIL', 'THE NETHERLANDS',
       'CHINA', 'PAKISTAN', 'ITALY', 'RUSSIAN FEDERATION', 'CROATIA',
       'NORWAY', 'SWITZERLAND', 'KAZAKHSTAN', 'NEW ZEALAND', 'SLOVAKIA',
       'GREECE', 'BRITISH VIRGIN ISLANDS', 'INDONESIA', ' HUNGARY',
       'DEUTSCHLAND', 'EGYPT', 'COLOMBIA', 'TAMIL NADU', 'THAILAND',
       'TURKEY', 'BULGARIA', 'U.S.A.', 'MAHARASHTRA ', 'U.S.', 'ESTONIA',
       'FINLAND', 'POLSKA', 'BELARUS', 'CZECH REPUBLIC', 'IRELAND',
       'ARIEL', 'РОССИЯ', 'SRI LANKA', 'MEXICO', 'JAPAN', 'ROMANIA',
       'REPUBLIC OF KOREA', 'SINGAPORE ', 'SERBIA', 'BELGIUM',
       'AL QATIF SAUDI ARABIA', 'SLOVENIA', 'ECUADOR', 'SLOVENSKO',
       'IRAQ', 'SEYCHELLES', 'TAJIKISTAN', 'LATVIA', 'TUNISIA', 'MOLDOVA',
       'BANGLADESH', 'ALGERIA', 'TAIWAN', 'PK', 'MALAYSIA', 'ESPAÑA',
       'NIGERIA', 'TAMIL NADU ', 'TÜRKIYE', 'ČESKÁ REPUBLIKA',
       'PHILIPPINES', 'SK V', 'JORDAN', 'LEBANON', 'KOREA', 'TAIWAN ',
       'REPUBLIC OF IRELAND', 'GUERNSEY', 'LATVIJA', 'TANZANIA',
       'MYANMAR (BURMA)', 'ICELAND', 'MALTA', 'GUJARAT', '洛杉矶',
       'MAURITIUS', 'DOMINICAN REPUBLIC', 'ITALIA', 'KIROVSKOYE',
       'UGANDA', 'SOUTH AFRICA', 'SHOHAM', 'PUERTO RICO', 'ARMENIA',
       'URUGUAY', 'MOROCCO', 'MAROC', 'SAINT KITTS AND NEVIS',
       'NEDERLAND', 'SAUDI ARABIA', 'QATAR', 'MAHARASHTRA', 'AT',
       'ARGENTINA', 'REPÚBLICA FEDERATIVA DO BRASIL', 'KUWAIT', 'NEPAL',
       'ANDORRA', 'BELGIQUE', 'YEMEN', '대한민국 제주도 제주시 한경면 칠전로', 'JENIN',
       'MARTINIQUE', 'ZAMBIA', 'ÖSTERREICH', 'CHRISTMAS ISLAND',
       'SLOVENSKÁ REPUBLIKA', 'PERU', 'ALBANIA', 'COSTA RICA',
       'HUNZA NAGAR', 'ISLE OF MAN', 'JEDDAH SAUDI ARABIA', 'IN',
       'RIYADH SAUDI ARABIA', 'HARYANA', 'MONTENEGRO', 'MACEDONIA',
       'VENEZUELA', 'РЕСПУБЛИКА БЕЛАРУСЬ', 'HRVATSKA', 'HERZLIYA',
       '台北市中山區長春路號號', 'CAYMAN ISLANDS', 'REPUBLIC OF SEYCHELLES',
       'KAZAKSTAN', 'SEVASTOPOL', 'UZBEKISTAN', 'GHANA',
       'REPUBLIC OF BELARUS', 'OMAN', 'SAHAM، OMAN', 'SAMOA', 'SVERIGE',
       "MODI'IN-MACCABIM-RE'UT"], dtype=object)

FURTHER CLEANING (IVAN)

In [8]:
developer_df.reset_index(inplace=True)

In [9]:
# Cleaning USA
us_similars = ['UNITED STATES', 'UNITED STATES OF AMERICA', 'U.S.A.', '洛杉矶', 'U.S.',]
# Cleaning India
india_similars = ['INDIA', 'TAMIL NADU', 'MAHARASHTRA', "GUJARAT", "INDIA", "HARYANA"]
# Cleaning turkey
turkey_similars = ["TÜRKIYE", 'TURKEY', ]
# Cleaning Ukraine
ukraine_similars = ['UKRAINE', 'SEVASTOPOL', "KIROVSKOYE", "УКРАЇНА"] 
#Cleaning Oman 
oman_similars = ["OMAN", 'SAHAM، OMAN', ]
#Cleaning croatia
croatia_similars = ["HRVATSKA", "CROATIA"]
#Cleaning morocco
morocco_similars = ["MAROC"]
#Cleaning isreal
isreal_similars = ["HERZLIYA", "PETAH TIKVA", "MODI'IN-MACCABIM-RE'UT", "JENIN", "SHOHAM", "ISRAEL"]
#Cleaning Taiwan
taiwan_similars = ["台北市中山區長春路號號", "TAIWAN"]
#Cleaning belarus
belarus_similars = ['РЕСПУБЛИКА БЕЛАРУСЬ', "REPUBLIC OF BELARUS", "БЕЛАРУСЬ", "BELARUS"]
#Cleaning UK
uk_similars = ["ISLE OF MAN", "GUERNSEY", "BRITISH VIRGIN ISLANDS", "UNITED KINGDOM", 'CAYMAN ISLANDS']
#Cleaning Saudi Arabia
sa_similars = ["RIYADH SAUDI ARABIA", "KINGDOM OF SAUDI ARABIA", 'JEDDAH SAUDI ARABIA', "SAUDI ARABIA", "AL QATIF SAUDI ARABIA"]
#Cleaning Brazil
bz_similars = ["REPÚBLICA FEDERATIVA DO BRASIL", "BRASIL"]
# Cleaning Myanmar
myanmar_similars = ['MYANMAR (BURMA)']
#Cleaning Slovakia
slovakia_similars = ["SLOVENSKÁ REPUBLIKA", "SLOVENSKO", "SLOVAKIA"]
#Cleaning_austria
austria_similars = ["ÖSTERREICH", "AUSTRIA"]
#Cleaning italy
italy_similars = ["ITALIA"]
#cleaning czech republic
czech_similars = ["ČESKÁ REPUBLIKA", "CZECHIA", "CZECH REPUBLIC"]
#Cleaning netherlands
netherlands_similars = ["NEDERLAND", "NETHERLANDS", "THE NETHERLANDS"]
#Cleaning sweden
sweden_similars = ["SVERIGE", "SWEDEN"]
#Cleaning seychelles
seychelles_similars = ["SEYCHELLES", "REPUBLIC OF SEYCHELLES"]
#Cleaning Pakistan
pakistan_similars = ["PK", "HUNZA NAGAR"]
#Cleaning South Korea 
sk_similars = ["KOREA", "REPUBLIC OF KOREA", "SOUTH KOREA", "SEOUL", "대한민국 제주도 제주시 한경면 칠전로"]
#Cleaning belgium
belgium_similars = ["BELGIQUE", "BELGIUM"]
#Cleaning germany
germany_similars = ["DEUTSCHLAND", "GERMANY"]
#Cleaning poland
poland_similars = ["POLSKA", 'POLAND']
#Cleaning russia
russia_similars = ["РОССИЯ", "RUSSIA", 'RUSSIAN FEDERATION']
#Cleaning vietnam
vietnam_similars=["VIET NAM", "VIETNAM"]
#Cleaning spain
spain_similars = ["ESPAÑA", "SPAIN"]
#Cleaning Latvia
latvia_similars = ["LATVIJA", "LATVIA"]
#Cleaning kazakhstan
kazakhstan_similars = ["KAZAKHSTAN", "KAZAKSTAN"]
#Cleaning australia
australia_similars = ["AUSTRALIA", "CHRISTMAS ISLAND"]
#Cleaning france
france_similars = ["MARTINIQUE", "FRANCE"]
#Cleaning ireland
ireland_similars = ['REPUBLIC OF IRELAND', 'IRELAND']
#Cleaning false country
false_country = ["TITANIUM TRACK C/O", 'IN', 'AT', "SK V", "ARIEL"]

In [12]:
for i in range(developer_df.shape[0]):
    if (developer_df.loc[i, "COUNTRY"] in us_similars):
        developer_df.loc[i, "COUNTRY"] = "USA"
    elif (developer_df.loc[i, "COUNTRY"] in india_similars):
        developer_df.loc[i, "COUNTRY"] = "INDIA"
    elif (developer_df.loc[i, "COUNTRY"] in turkey_similars):
        developer_df.loc[i, "COUNTRY"] = "TURKEY"
    elif (developer_df.loc[i, "COUNTRY"] in ukraine_similars):
        developer_df.loc[i, "COUNTRY"] = "UKRAINE"
    elif (developer_df.loc[i, "COUNTRY"] in oman_similars):
        developer_df.loc[i, "COUNTRY"] = "OMAN"
    elif (developer_df.loc[i, "COUNTRY"] in croatia_similars):
        developer_df.loc[i, "COUNTRY"] = "CROATIA"
    elif (developer_df.loc[i, "COUNTRY"] in morocco_similars):
        developer_df.loc[i, "COUNTRY"] = "MOROCCO"
    elif (developer_df.loc[i, "COUNTRY"] in isreal_similars):
        developer_df.loc[i, "COUNTRY"] = "ISREAL"
    elif (developer_df.loc[i, "COUNTRY"] in taiwan_similars):
        developer_df.loc[i, "COUNTRY"] = "TAIWAN"
    elif (developer_df.loc[i, "COUNTRY"] in belarus_similars):
        developer_df.loc[i, "COUNTRY"] = "BELARUS"
    elif (developer_df.loc[i, "COUNTRY"] in uk_similars):
        developer_df.loc[i, "COUNTRY"] = "UNITED KINGDOM"
    elif (developer_df.loc[i, "COUNTRY"] in sa_similars):
        developer_df.loc[i, "COUNTRY"] = "SAUDI ARABIA"
    elif (developer_df.loc[i, "COUNTRY"] in bz_similars):
        developer_df.loc[i, "COUNTRY"] = "BRAZIL"
    elif (developer_df.loc[i, "COUNTRY"] in myanmar_similars):
        developer_df.loc[i, "COUNTRY"] = "MYANMAR"
    elif (developer_df.loc[i, "COUNTRY"] in slovakia_similars):
        developer_df.loc[i, "COUNTRY"] = "SLOVAKIA"
    elif (developer_df.loc[i, "COUNTRY"] in austria_similars):
        developer_df.loc[i, "COUNTRY"] = "AUSTRIA"
    elif (developer_df.loc[i, "COUNTRY"] in italy_similars):
        developer_df.loc[i, "COUNTRY"] = "ITALY"
    elif (developer_df.loc[i, "COUNTRY"] in czech_similars):
        developer_df.loc[i, "COUNTRY"] = "CZECH REPUBLIC"
    elif (developer_df.loc[i, "COUNTRY"] in netherlands_similars):
        developer_df.loc[i, "COUNTRY"] = "NETHERLANDS"
    elif (developer_df.loc[i, "COUNTRY"] in sweden_similars):
        developer_df.loc[i, "COUNTRY"] = "SWEDEN"
    elif (developer_df.loc[i, "COUNTRY"] in seychelles_similars):
        developer_df.loc[i, "COUNTRY"] = "SEYCHELLES"
    elif (developer_df.loc[i, "COUNTRY"] in pakistan_similars):
        developer_df.loc[i, "COUNTRY"] = "PAKISTAN"
    elif (developer_df.loc[i, "COUNTRY"] in sk_similars):
        developer_df.loc[i, "COUNTRY"] = "SOUTH KOREA"
    elif (developer_df.loc[i, "COUNTRY"] in seychelles_similars):
        developer_df.loc[i, "COUNTRY"] = "SEYCHELLES"
    elif (developer_df.loc[i, "COUNTRY"] in belgium_similars):
        developer_df.loc[i, "COUNTRY"] = "BELGIUM"
    elif (developer_df.loc[i, "COUNTRY"] in germany_similars):
        developer_df.loc[i, "COUNTRY"] = "GERMANY"
    elif (developer_df.loc[i, "COUNTRY"] in poland_similars):
        developer_df.loc[i, "COUNTRY"] = "POLAND"
    elif (developer_df.loc[i, "COUNTRY"] in russia_similars):
        developer_df.loc[i, "COUNTRY"] = "RUSSIA"
    elif (developer_df.loc[i, "COUNTRY"] in vietnam_similars):
        developer_df.loc[i, "COUNTRY"] = "VIETNAM"
    elif (developer_df.loc[i, "COUNTRY"] in spain_similars):
        developer_df.loc[i, "COUNTRY"] = "SPAIN"
    elif (developer_df.loc[i, "COUNTRY"] in latvia_similars):
        developer_df.loc[i, "COUNTRY"] = "LATVIA"
    elif (developer_df.loc[i, "COUNTRY"] in kazakhstan_similars):
        developer_df.loc[i, "COUNTRY"] = "KAZAKHSTAN"
    elif (developer_df.loc[i, "COUNTRY"] in australia_similars):
        developer_df.loc[i, "COUNTRY"] = "AUSTRALIA"
    elif (developer_df.loc[i, "COUNTRY"] in france_similars):
        developer_df.loc[i, "COUNTRY"] = "FRANCE"
    elif (developer_df.loc[i, "COUNTRY"] in ireland_similars):
        developer_df.loc[i, "COUNTRY"] = "IRELAND"
    elif (developer_df.loc[i, "COUNTRY"] in false_country):
        developer_df.loc[i, "COUNTRY"] = "NONE"
    else:
        developer_df.loc[i, "COUNTRY"] = developer_df.loc[i, "COUNTRY"].strip()

In [13]:
country_list = developer_df["COUNTRY"].unique()
print(sorted(country_list))
print(len(country_list))

['ALBANIA', 'ALGERIA', 'ANDORRA', 'ARGENTINA', 'ARMENIA', 'AUSTRALIA', 'AUSTRIA', 'BANGLADESH', 'BELARUS', 'BELGIUM', 'BELIZE', 'BRAZIL', 'BULGARIA', 'CANADA', 'CHILE', 'CHINA', 'COLOMBIA', 'COSTA RICA', 'CROATIA', 'CYPRUS', 'CZECH REPUBLIC', 'DENMARK', 'DOMINICAN REPUBLIC', 'ECUADOR', 'EGYPT', 'ESTONIA', 'FINLAND', 'FRANCE', 'GERMANY', 'GHANA', 'GREECE', 'HONG KONG', 'HUNGARY', 'ICELAND', 'INDIA', 'INDONESIA', 'IRAQ', 'IRELAND', 'ISREAL', 'ITALY', 'JAPAN', 'JORDAN', 'KAZAKHSTAN', 'KUWAIT', 'LATVIA', 'LEBANON', 'LITHUANIA', 'LUXEMBOURG', 'MACEDONIA', 'MALAYSIA', 'MALTA', 'MAURITIUS', 'MEXICO', 'MOLDOVA', 'MONTENEGRO', 'MOROCCO', 'MYANMAR', 'NEPAL', 'NETHERLANDS', 'NEW ZEALAND', 'NIGERIA', 'NONE', 'NORWAY', 'OMAN', 'PAKISTAN', 'PERU', 'PHILIPPINES', 'POLAND', 'PORTUGAL', 'PUERTO RICO', 'QATAR', 'ROMANIA', 'RUSSIA', 'SAINT KITTS AND NEVIS', 'SAMOA', 'SAUDI ARABIA', 'SERBIA', 'SEYCHELLES', 'SINGAPORE', 'SLOVAKIA', 'SLOVENIA', 'SOUTH AFRICA', 'SOUTH KOREA', 'SPAIN', 'SRI LANKA', 'SWEDEN', 'SWITZERLAND', 'TAIWAN', 'TAJIKISTAN', 'TANZANIA', 'THAILAND', 'TUNISIA', 'TURKEY', 'UGANDA', 'UKRAINE', 'UNITED ARAB EMIRATES', 'UNITED KINGDOM', 'URUGUAY', 'USA', 'UZBEKISTAN', 'VENEZUELA', 'VIETNAM', 'YEMEN', 'ZAMBIA']
104

In [14]:
#Final touches
developer_df = developer_df.drop(["index", "DEVELOPER_ADDRESS_PRED"], axis=1)
developer_df = developer_df[developer_df["COUNTRY"] != "NONE"]
developer_df["COUNTRY"] = developer_df["COUNTRY"].str.title()
developer_df.reset_index(inplace=True)
developer_df

      index                                  DEVELOPER_ADDRESS         COUNTRY
0         0                      23 Stoneleigh Avenue\nBN1 8NP  United Kingdom
1         1  ul. Łucka 2/4/6, lok. U 4,\n00-845 Warsaw\nPoland          Poland
2         2  Perfect365, Inc.\n101 Jefferson Drive\nMenlo P...             Usa
3         3                              4103, Limassol Cyprus          Cyprus
4         4             Gartengasse 8/8\n1050, Vienna\nAustria         Austria
...     ...                                                ...             ...
7338   7342  M1504, Li Ka Shing Tower, The Hong Kong Polyte...       Hong Kong
7339   7343           501 W. Williams St.  480\nApex, NC 27502             Usa
7340   7344                       4103\nImus City,\nCavite, PH     Philippines
7341   7345  Calle de Cristóbal Bordiú 10. 1D.\n28003. Madr...           Spain
7342   7346   9 rue Combe au Roucheret, 25770 Serre-les-Sapins          France

[7343 rows x 3 columns]

In [15]:
#export the cleaned data into a csv file
file_path = "./datasets/developer_country.csv"
developer_df.to_csv(path_or_buf=file_path, index=False)